*.txt

node_modules/
.idea/

C#/LBXamarinSDK/DynamicModels.cs
C#/LBXamarinSDK/DynamicRepos.cs
C#/LBXamarinSDK/HardcodedModels.cs
C#/LBXamarinSDK/bin/
C#/LBXamarinSDK/obj/
C#/LBXamarinSDK/packages/
bin/output
packages/
C#/packages/
C#/lb-xmTesters/bin/
C#/lb-xmTesters/obj/
C#/SDK Example/ExampleApp/obj
C#/SDK Example/ExampleApp/bin
test-server/node_modules/