*.txt

node_modules/
.idea/

C#/LBXamarinSDK/DynamicModels.cs
C#/LBXamarinSDK/DynamicRepos.cs
C#/LBXamarinSDK/HardcodedModels.cs
C#/LBXamarinSDK/bin/
C#/LBXamarinSDK/obj/
C#/LBXamarinSDK/packages/
examples/HelloWorld/SDKHelloWorld/bin
examples/HelloWorld/SDKHelloWorld/obj
examples/HelloWorldServer/node_modules/
examples/Agents/ExampleApp/bin
examples/Agents/ExampleApp/obj
examples/AgentsServer/node_modules/
bin/output
packages/
C#/packages/
C#/lb-xmTesters/bin/
C#/lb-xmTesters/obj/
test-server/node_modules/