*.txt

lb-xm/node_modules/
lb-xm/.idea/
lb-xm/npm-debug.log

SDKGeneratorDLL/LBXamarinSDK/DynamicModels.cs
SDKGeneratorDLL/LBXamarinSDK/DynamicRepos.cs
SDKGeneratorDLL/LBXamarinSDK/HardcodedModels.cs
SDKGeneratorDLL/LBXamarinSDK/bin/
SDKGeneratorDLL/LBXamarinSDK/obj/
SDKGeneratorDLL/packages/

UnitTests/packages/
UnitTests/UnitTests/bin/
UnitTests/UnitTests/obj/
UnitTests/relationsServer/node_modules/